<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_URI} "/\.\./" [OR]
    RewriteCond %{REQUEST_URI} "/\%2e\%2e/" [OR]
    RewriteCond %{REQUEST_URI} "\.\." [NC]
    RewriteRule (.*) - [F,L]
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?action=$1 [L,QSA]
</IfModule>
