.navbar
{
    background-color: #be874c;
    padding: 5px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-menu
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li
{
    margin-right: 20px;
}

.navbar-menu li a
{
    color: #fff; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado dos links */
    padding: 10px 15px;
    display: block;
    font-weight: 500;
}

.navbar-menu li a:hover
{
    background-color: #beb9b575;
    transition: background-color 0.3s;
}

.container
{
    padding: 15px 0px;
}
