body
{
    background-color: #beb9b575;
    color: #000;
}

.form-control
{
    background-color: #f2f2f2f2;
}

.table td, tr, th
{
    color: #666;
    font-weight: bold;
    border: 1px solid #995d1d91 !important;
}

label, .table th, h2
{
    color: #b1620e;
    font-weight: bold;
}

.table-bordered
{
    background-color: #f2f2f2f2;
}

.linha
{
    border-top: 3px solid #995d1d91;
    padding-bottom: 15px;
}